<h1><%= translate('pages.index.welcome', default: 'Not found...') %></h1>

<p>These also work:</p>
<ul>
    <li><%= t('pages.index.welcome') %></li>
    <li><%= translate 'pages.index.welcome' %></li>
    <li><%= t 'pages.index.welcome' %></li>
    <li><%= translate('index.welcome', scope: :pages) %></li>
    <li><%= translate(:welcome, scope: 'pages.index') %></li>
    <li><%= translate(:welcome, scope: [:pages, :index]) %></li>
</ul>

<p>This one is called lazy lookup and infers the scope from the controller & view:</p>
<p><%= translate('.welcome') %></p>

<p>HTML Text:</p>
<ul>
    <li><%= t('.strong_text1') %></li>
    <li><%= t('.strong_text2_html') %></li>
    <li><%= t('.strong_text3.html') %></li>
</ul>

<p>Numbers:</p>
<ul>
    <li><%= number_to_currency 1234567890.50 %></li>
    <li><%= number_to_human 1234567890 %></li>
    <li><%= number_to_phone 1234567890 %></li>
    <li><%= number_to_human_size 1234567890 %></li>
</ul>

<p>Pluralization:</p>
<ul>
    <li><%= t('.count', count: 0) %></li>
    <li><%= t('.count', count: 1) %></li>
    <li><%= t('.count', count: 100) %></li>
</ul>

<p>Available Locales:</p>
<p><%= I18n.available_locales %></p>
<p>Current Locale:</p>
<p><%= I18n.locale %></p>