<!DOCTYPE html>
<html>
  <head>
    <title>RailsI18nPoc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to 'English', root_path(locale: :en) %></li>
      <li><%= link_to 'Espanol', root_path(locale: :es) %></li>
    </ul>
    <%= yield %>
  </body>
</html>
