<!DOCTYPE html>
<html>
  <head>
    <title>RailsI18nPoc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to t('.home'), root_path %></li>
      <li><%= link_to t('.about'), :about %></li>
      <li><%= link_to t('.list_posts'), posts_path %></li>
      <li><%= link_to t('.new_post'), new_post_path %></li>
    </ul>
    <p>Locale:</p>
    <ul>
      <li><%= link_to 'English', root_path(locale: :en) %></li>
      <li><%= link_to 'Español', root_path(locale: :es) %></li>
    </ul>
    <%= yield %>
  </body>
</html>
